<% layout('layouts/boilerplate') %>
<div class="form-check form-switch">
    <input class="form-check-input" type="checkbox" role="switch" id="autofan" checked>
    <label class="form-check-label" for="autofan">Auto Fan</label>
</div>