<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/api/home">
            <img src="https://cdn.discordapp.com/attachments/1020618076858875985/1109471187676975104/IMG_20230520_202211.jpg"
                alt="" width="30" height="30" class="rounded">
            Embedded Lab Project</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link" href="/api/home">Home</a>
                <a class="nav-link" href="/api/dashboard">Dashboard</a>
                <a class="nav-link" href="/api/graph">Graph</a>
            </div>
        </div>
    </div>
</nav>